<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <div class="news_container">
            <% if (DATA.news) { %>
                <p class="advantages_title1" style="color: #292424;"><%=DATA.news.title %></p>
                <p class="line"><span></span></p>
                <div class="article">
                    <% if (DATA.news.main_img !== '') { %>
                        <img src="<%= DATA.news.main_img %>">
                    <% } %>
                </div>
            <% } %>
            <% if (!DATA.news) { %>
                <p class="advantages_title1"><%=DATA.langPack.blog_main_title1 %></p>
                <p class="advantages_title2"><%=DATA.langPack.blog_main_title2 %></p>
                <p class="line"><span></span></p>
                <div class="news_list_main"></div>
            <% } %>
        </div>
    </div>
    <%- include("./parts/footer_info.ejs") %>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
    <% if (!DATA.news) { %>
        <script>
            loadNewsList(1000, "_main");
        </script>
    <% } %>
    <% if (DATA.news) { %>
        <script>
            const article_body = $_(`.article`)[0];
            const article = `<%=DATA.news.article %>`
                .replace(/&lt;/g, '<')
                .replace(/&gt;/g, '>')
                .replace(/&#34;/g, '"')
                .replace(/&#39;/g, "'")
                .split("\n");
            article.forEach(element => {
                article_body.innerHTML += element;
            });
        </script>
    <% } %>

</body>