<div class="content_container" style="opacity: 0; transition: 1.5s;">
    <div>
        <div>
            <i class='fas fa-bus'></i>
        </div>
        <div>
            <p class="title"><%=DATA.langPack.content_title1 %></p>
            <p><%=DATA.langPack.content_body1 %></p>
        </div>
    </div>
    <div>
        <div>
            <i class='fas fa-history'></i>
        </div>
        <div>
            <p class="title"><%=DATA.langPack.content_title2 %></p>
            <p><%=DATA.langPack.content_body2 %></p>
        </div>
    </div>
    <div>
        <div>
            <i class='fas fa-user-friends'></i>
        </div>
        <div>
            <p class="title"><%=DATA.langPack.content_title3 %></p>
            <p><%=DATA.langPack.content_body3 %></p>
        </div>
    </div>
    <div>
        <div>
            <i class='fas fa-star'></i>
        </div>
        <div>
            <p class="title"><%=DATA.langPack.content_title4 %></p>
            <p><%=DATA.langPack.content_body4 %></p>
        </div>
    </div>

</div>