<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <div class="content_container advantages">
            <p class="advantages_title1"><%=DATA.langPack.blog_main_title1 %></p>
            <p class="advantages_title2"><%=DATA.langPack.blog_main_title2 %></p>
            <p class="line"><span></span></p>
            <p>blog</p>
        </div>
    </div>
    <%- include("./parts/footer_info.ejs") %>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
</body>