<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <%- include("./parts/contacts.ejs") %>
    </div>
    <iframe src="https://maps.google.com/maps?q=Ivano-Frankivsk&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
</body>