<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>  
    <div class="main_body">
        <%- include("./parts/content.ejs") %>
    </div>
    <%- include("./parts/options.ejs") %> 
    <%- include("./parts/callcenter.ejs") %> 
    <%- include("./parts/footer_info.ejs") %>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
    <script>
        loadVariablesList();
    </script>
</body>