<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>    
    <div class="main_body">
        <% if (DATA.permission.permissionAuthorization === '0') { %>        
            <div class="no_user">
                <p><%=DATA.langPack.autoriz_info %></p>
                <div>
                    <a href="/google"><img src="img/google.png" alt="google" title="GOOGLE"></a>
                    <a href="/facebook"><img src="img/facebook.png" alt="facebook" title="FACEBOOK"></a>
                </div>
            </div>
        <% } %>        
        <% if (DATA.permission.permissionAuthorization === '1') { %>
            <div class="user_wrap">
                <img src="<%=DATA.user.ava %>">
                <p><%=DATA.user.surname %> <%=DATA.user.name %></p>
                <p onclick="exit()" class="exit"><%=DATA.langPack.exit %></p>
                <% if (DATA.permission.permissionRules === '1') { %> 
                    <div class="modal_wrap"></div>                
                <% } %>                 
            
                <% if (DATA.permission.permissionRules === '0') { %>        

                    <p>autorised USER</p>
                
                <% } %>           
                <% if (DATA.permission.permissionRules === '1') { %> 
                    <div class="slider">
                        <p onclick="slider(this)">МІСТА</p>
                        <div>
                            <i class='far fa-plus-square' onclick="showModal('townAdd')"></i>
                            <div class="tawns_list"></div>
                        </div>
                        <p onclick="slider(this)">МАРШРУТИ</p>
                        <div>
                            <i class='far fa-plus-square' onclick="showModal('trip')"></i>
                            <p>gggggg</p>
                            <p>gggggg</p>
                            <p>gggggg</p>
                        </div>
                    </div>                
                <% } %>   
            </div> 
        <% } %> 


    </div>
    <%- include("./parts/footer.ejs") %>
    <script src="./js/data.js"></script>
    <script src="./js/js.js"></script>
    <script src='./js/icon.js'></script>
</body>