<!DOCTYPE HTML>
<html lang="en">
<head>
    <%- include("./parts/head.ejs") %>
</head>
<body>
    <%- include("./parts/header.ejs") %>
    <div class="main_body">
        <%- include("./parts/privacy-policy.ejs") %>
    </div>
    <%- include("./parts/footer.ejs") %>
    <%- include("./parts/script.ejs") %>
</body>