<div class="footer_container">
    <div class="footer_wrap">
        <div class="footer_box">
            <img src="../img/logo_footer.png" alt="transfer-booking">
            <p class="info"><%=DATA.langPack.footer_info_text %></p>
        </div>
        <div class="footer_box">
            <p><%=DATA.langPack.footer_info_header_blog %></p>
            <p class="line"></p>
            <div></div>
        </div>
        <div class="footer_box">
            <p><%=DATA.langPack.footer_info_header_people %></p>
            <p class="line"></p>
            <div class="feedback_container">
                <div class="feedback_wrap">
                    <div class="feedback_block">
                        <p><%=DATA.langPack.feedback1 %></p>
                        <p><span></span><%=DATA.langPack.feedback_name1 %></p>
                    </div>
                    <div class="feedback_block">
                        <p><%=DATA.langPack.feedback2 %></p>
                        <p><span></span><%=DATA.langPack.feedback_name2 %></p>
                    </div>
                    <div class="feedback_block">
                        <p><%=DATA.langPack.feedback3 %></p>
                        <p><span></span><%=DATA.langPack.feedback_name3 %></p>
                    </div>
                    <div class="feedback_block">
                        <p><%=DATA.langPack.feedback4 %></p>
                        <p><span></span><%=DATA.langPack.feedback_name4 %></p>
                    </div>
                    <div class="feedback_block">
                        <p><%=DATA.langPack.feedback5 %></p>
                        <p><span></span><%=DATA.langPack.feedback_name5 %></p>
                    </div>
                    <div class="feedback_block">
                        <p><%=DATA.langPack.feedback6 %></p>
                        <p><span></span><%=DATA.langPack.feedback_name6 %></p>
                    </div>
                    <div class="feedback_block">
                        <p><%=DATA.langPack.feedback7 %></p>
                        <p><span></span><%=DATA.langPack.feedback_name7 %></p>
                    </div>
                    <div class="feedback_block">
                        <p><%=DATA.langPack.feedback8 %></p>
                        <p><span></span><%=DATA.langPack.feedback_name8 %></p>
                    </div>
                </div>
                <div class="feedback_points"></div>
            </div>
        </div>
        <div class="footer_box">
            <p><%=DATA.langPack.footer_info_header_contact %></p>
            <p class="line"></p>
            <div class="feedback_form" style="width: 100%; padding: 0;">
                <div class="feedback_form_wrap feedbak_inp_info" style="margin: 0;">
                    <% if (DATA.permission.permissionAuthorization === '0') { %>
                        <input type="text" name="name" id="name" autocomplete="nope" placeholder="<%=DATA.langPack.feedback_form_name %>" />
                    <% } %> 
                    <% if (DATA.permission.permissionAuthorization === '1') { %>
                        <input type="text" class="inp_readonly" value="<%=DATA.user.name %>" name="name" id="name" autocomplete="nope" placeholder="<%=DATA.langPack.feedback_form_name %>" readonly />
                    <% } %> 
                    <% if (DATA.permission.permissionAuthorization === '0') { %>
                        <input type="text" name="surname" id="surname" autocomplete="nope" placeholder="<%=DATA.langPack.feedback_form_surname %>"/>
                    <% } %> 
                    <% if (DATA.permission.permissionAuthorization === '1') { %>
                        <input type="text" class="inp_readonly" value="<%=DATA.user.surname %>" name="surname" id="surname" autocomplete="nope" placeholder="<%=DATA.langPack.feedback_form_surname %>" readonly />
                    <% } %> 
                    <% if (DATA.permission.permissionAuthorization === '0') { %>
                        <input type="email" name="email" id="email" autocomplete="nope" placeholder="<%=DATA.langPack.feedback_form_email %>" />
                    <% } %> 
                    <% if (DATA.permission.permissionAuthorization === '1') { %>
                        <% if ((DATA.user.email === '') || (DATA.user.email === null) || (DATA.user.email === undefined)) { %>
                            <input type="email" name="email" id="email" autocomplete="nope" placeholder="<%=DATA.langPack.feedback_form_email %>" />
                        <% } %> 
                        <% if ((DATA.user.email !== '') && (DATA.user.email !== null) && (DATA.user.email !== undefined)) { %>
                            <input type="email" class="inp_readonly" value="<%=DATA.user.email %>" name="email" id="email" autocomplete="nope" placeholder="<%=DATA.langPack.feedback_form_email %>" readonly />
                        <% } %>  
                    <% } %>                   
                    <input type="tel" name="tel" id="tel" autocomplete="nope" placeholder="<%=DATA.langPack.feedback_form_tel %>" />
                    <textarea name="comment" id="comment" autocomplete="nope" maxlength="300" placeholder="<%=DATA.langPack.feedback_form_message %>"></textarea>
                    <p class="send"><i class='far fa-paper-plane'></i></p>
                </div>
            </div>
        </div>
    </div>
</div>