<div class="form_container">
    <div class="form_wrap">
        <div class="info_container">
            <div class="info_wrap">
                <h1><%=DATA.langPack.header_info_title %></h1>
                <p><%=DATA.langPack.header_info_body %></p>
                <a href="/advantages"><%=DATA.langPack.header_info_readmore %></a>
            </div>
        </div>
        <div class="tabs_container">
            <div class="tabs_wrap">
                <div class="tabs">
                    <p class="tab tab_active" onclick="tabs(0)"><%=DATA.langPack.header_tab_booking %></p>
                    <p class="tab" onclick="tabs(1)"><%=DATA.langPack.header_tab_person %></p>
                </div>
                <div class="tab_bodys">
                    <div class="body body_active">
                        <p>forma</p>
                    </div>
                    <div class="body">
                        <p>poersona</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>