<div class="howitwork_container">
    <div class="howitwork_wrap">
        <div class="howitwork_row">
            <div class="howitwork_cell">
                <div class="box_border_11"></div>
                <div class="arival"></div>
                <p class="arival_text"><%=DATA.langPack.howitwork1 %></p>
            </div>
            <div class="howitwork_cell">
                <img src="./img/about3.jpg" alt="about" class="img_12">
            </div>
        </div>
        <div class="howitwork_row">
            <div class="howitwork_cell">
                <img src="./img/about2.jpg" alt="about" class="img_21">
                <div class="box_border_21"></div>
                <div class="element_21">
                    <div><i class='fas fa-shuttle-van'></i></div>
                    <p><%=DATA.langPack.howitwork2 %></p>
                </div>
            </div>
            <div class="howitwork_cell">
                <img src="./img/about3.jpg" alt="about" class="img_22">
                <div class="box_border_22"></div>
                <div class="element_22">
                    <div><i class='fas fa-clipboard-check'></i></div>
                    <p><%=DATA.langPack.howitwork3 %></p>
                </div>
            </div>
        </div>
        <div class="howitwork_row order_mob">
            <div class="howitwork_cell">
                <img src="./img/about2.jpg" alt="about" class="img_31">
                <div class="box_border_31"></div>
                <div class="element_31">
                    <div><i class='far fa-image'></i></div>
                    <p><%=DATA.langPack.howitwork5 %></p>
                </div>
            </div>
            <div class="howitwork_cell">
                <img src="./img/about1.jpg" alt="about" class="img_32">
                <div class="box_border_32"></div>
                <div class="element_32">
                    <div><i class='fas fa-user-check'></i></div>
                    <p><%=DATA.langPack.howitwork4 %></p>
                </div>
            </div>
        </div>
        <div class="howitwork_row">
            <div class="howitwork_cell">
                <div class="box_border_41"></div>
                <div class="destini"></div>
                <p class="destini_text"><%=DATA.langPack.howitwork6 %></p>
            </div>
            <div class="howitwork_cell">
                <img src="./img/about1.jpg" alt="about" class="img_42">
            </div>
        </div>
    </div>
</div>