<div class="menu_container  menuAdd<%=DATA.permission.pageName %>">
    <div class="menu_wrap">
        <div class="logo">
            <img src="./img/logo.png" alt="Transfer Booking" onclick="window.location.href = '/'">
        </div>
        <div class="menu">
            <ul class="user_settings_list">
                <li><a href="/home" class="<%=DATA.menu.home %>"><%=DATA.langPack.home %></a></li>
                <li><a href="/about" class="<%=DATA.menu.about %>"><%=DATA.langPack.about %></a></li>
                <li><a href="/blog" class="<%=DATA.menu.blog %>"><%=DATA.langPack.blog %></a></li>
                <li><a href="/contacts" class="<%=DATA.menu.contacts %>"><%=DATA.langPack.contacts %></a></li>
            </ul>
        </div>
    </div>
</div>


