<div class="options_container_wrap">
    <div class="options_container" style="opacity: 0; transition: 1.5s;">
        <div class="content_container advantages" style="padding: 10px 0px 10px 0px;">
            <p class="advantages_title2"><%=DATA.langPack.option_main_title %></p>
            <p class="line"><span></span></p>
        </div>
        <div class="options_wrap">
            <div class="blok">
                <div><img src="./img/option_privat.png" alt="privat"></div>
                <div>
                    <h5><%=DATA.langPack.option_title1 %></h5>
                    <h6><%=DATA.langPack.option_title2 %></h6>
                    <div class="wrap_prevat"></div>
                </div>
            </div>
            <div class="blok">
                <div><img src="./img/option_minibus.png" alt="privat"></div>
                <div>
                    <h5><%=DATA.langPack.option_title3 %></h5>
                    <h6><%=DATA.langPack.option_title4 %></h6>
                    <div class="wrap_microbus"></div>
                </div>
            </div>
            <div class="blok">
                <div><img src="./img/option_bus.png" alt="privat"></div>
                <div>
                    <h5><%=DATA.langPack.option_title5 %></h5>
                    <h6><%=DATA.langPack.option_title6 %></h6>
                    <div class="wrap_spec">
                        <p><i class='fas fa-arrow-alt-circle-right'></i><%=DATA.langPack.option_bus %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow_wrap">
            <p class="arrow_left"><i class='fas fa-arrow-left'></i></p>
            <p class="arrow_right"><i class='fas fa-arrow-right'></i></p>
        </div>
    </div>
</div>
